extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/' + pageId + '.js')

block content
  include /widget/header
  .center
    .project.content(class=status)
      .titleBar= statusString
      .details
        .leftSide
          h2.name= title
          h3.location= location
          section.type
            h3.title Type
            span= type
          section.description
            h3.title Description
            p= description
          section.supplier
            if ownProject
              if !supplier
                form(action=('/project/addSupplier?id=' + _id) method='post' name='addSupplier')
                  .fieldArea.supplier
                    .fieldNameArea Supplier
                    .fieldInputArea
                      +input(type='text' required=true placeholder='username' name='supplier')
                    +button(class='orange' text='Add supplier')
            else if user && status == 'open'
              //- Only show interested link if the person is logged in
              .interestedArea
                if isInterested
                  .interestedLink
                    +button(class='disabled' text='Submitted interest')
                else
                  form(action=('/project/interested?id=' + _id) method='post' name='interestedPerson')
                    .interestedLink
                      +button(class='orange' text='I am interested')
            if supplier
              h3.title Supplier
              +profileWidget(name=supplier.partialName location=supplier.location orient='left' imgSrc=supplier.profilePhoto.src)
          if status == 'ongoing' && ownProject
            form(action=('/project/close?id=' + _id) method='post' name='closeProject')
              +button(class='orange' text='Close This Project')
          if status == 'closed'
            section.reviews
              h3.title Reviews
              .ratingArea
                img.hammer(src='/images/hammer.png')
                img.hammer(src='/images/hammer.png')
                img.hammer(src='/images/hammer.png')
                img.hammer(src='/images/hammer.png')
                img.hammer(src='/images/hammer.png')
              .fieldArea.type
                .fieldInputArea
                  +textarea(placeholder='My dresser looks awesome. Jillian was really helpful in helping make sure I got all the original paint off before I primed and began painting. She also knew a lot on what grits of sandpaper to use.')
                +button(class='orange' text='Add review')
              .review
                .left Erin R.
                .right
                  p.content.
                    My dresser looks awesome. Jillian was really helpful in helping make sure I got all the original
                    paint off before I primed and began painting. She also knew a lot on what grits of sandpaper to use.
        .rightSide
          +profileWidget(name=requester.partialName location=requester.location orient='right' imgSrc=requester.profilePhoto.src)
          for beforePhoto in beforeImages
            img.beforePhoto(src=beforePhoto.src)
          if beforeImages.length > 0
            h2.title Before
          for afterPhoto in afterImages
            img.afterPhoto(src=afterPhoto.src)
          if afterImages.length > 0
            h2.title After
          +button(class='green uploadPhoto' type='file' name='afterPhoto' text='Upload photo')