extends layout

block scripts
  script(src='/js/jquery.min.js')
  script(src='/js/all.js')

block content
  include /widget/header
  .center
    .content
      .titleBar Sign Up
      .details
        form(action='/signup' method='post' name='signup' enctype="multipart/form-data")
          .leftSide
            .fieldArea.firstName
              .fieldNameArea First Name
              .fieldInputArea
                +input(type='text' required=true name='firstName')
                .inputDescription This information will appear in your profile exactly as it is here.
            .fieldArea.lastName
              .fieldNameArea Last Name
              .fieldInputArea
                +input(type='text' required=true name='lastName')
                .inputDescription This information will appear in your profile exactly as it is here.
            .fieldArea.email
              .fieldNameArea Email
              .fieldInputArea
                +input(type='email' required=true name='email')
            .fieldArea.username
              .fieldNameArea Username
              .fieldInputArea
                +input(type='text' required=true name='username')
            .fieldArea.password
              .fieldNameArea Password
              .fieldInputArea
                +input(type='password' required=true name='password')
                .inputDescription Password must be at least 6 characters and include one number.
            .fieldArea.phone
              .fieldNameArea Phone
              .fieldInputArea
                +input(type='tel' required=true name='phone')
                .inputDescription Format: XXX-XXX-XXXX
            .fieldArea.birthYear
              .fieldNameArea Birth Year
              .fieldInputArea
                +input(type='number' required=false name='birthYear')
                .inputDescription Optional. (e.g. 1978)
            .fieldArea.location
              .fieldNameArea Location
              .fieldInputArea
                +input(type='text' required=true name='location')
                .inputDescription (e.g., Greenlake, Kirkland, Ballard)
            .fieldArea.about
              .fieldNameArea About
              .fieldInputArea
                +textarea(name='about')
            .fieldArea.skillsihave
              .fieldNameArea Skills I have
              .fieldInputArea
                +textarea(name='skillsihave')
            .fieldArea.skillsiwant
              .fieldNameArea Skills I want
              .fieldInputArea
                +textarea(name='skillsiwant')
            +button(class='orange' text='Sign Up' type='submit')
          .rightSide
            .profilePhoto
            h2.title Photo
            +button(class='green' type='file' name='profilePhoto' text='Upload photo')